/* #quickExpPage{
    background: rgb(2,0,36);
    background: linear-gradient(117deg, rgba(2,0,107,1) 0%, rgba(29,29,208,1) 19%, rgba(104,0,161,1) 100%);
} */

.quick-exp-container{
    width: 350px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 2px 15px black;

    margin-left: 10px;
    margin-right: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.calculate-btn{
    background-color: rgb(55, 67, 240);
    color: white;
    margin: 5px;
}

.answer-field-hidden{
    display: none;
}

.input-data-fields{
    border-radius: 15px;
    box-shadow: 0px 2px 15px black;
    text-align: center;
}


.graphics-area{
    /* border-radius: 15px;
    box-shadow: 0px 2px 15px black; */
}

.return-to-main-btn{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 500;
}

.arg-inp{
    margin: 5px;

}

input{
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    background-color: #ffffff00;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}