.info_about_task{
    display: flex;
    flex-direction: column;
}

.lab-res-link{
    font-size: 25px;
    font-weight: 500;

    color: black;
}

.line-top{
    border-top: 5px solid black;
    box-shadow: 10px 15px 15px 5px black;
}

.line-buttom{
    border-top: 5px solid black;
    box-shadow: 10px -15px 15px 5px black;
}

.right-line{
    width: 35%;
    margin-left: auto;
    margin-right: 50px;
}

.left-line{
    width: 35%;
    margin-right: auto;
    margin-left: 50px;
   
}
