/* #quickExpPage{
    background: rgb(2,0,36);
    background: linear-gradient(117deg, rgba(2,0,107,1) 0%, rgba(29,29,208,1) 19%, rgba(104,0,161,1) 100%);
} */

.quick-exp-container{
    width: 350px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0px 2px 15px black;

    margin-left: 10px;
    margin-right: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.calculate-btn{
    background-color: rgba(198, 199, 204, 0.144);
    color: white;
    margin: 5px;
    border: 1px solid white;
}

.answer-field-hidden{
    display: none;
}

.input-data-fields{
    border-radius: 15px;
    box-shadow: 0px 2px 15px black;
    text-align: center;
}



.return-to-main-btn{
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 500;

    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.return-to-main-btn:hover{
    background-size: 100% 2px;
}

.arg-inp{
    margin: 5px;

}

input{
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    background-color: #ffffff00;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.center-line{
    margin: auto;
    width: 60%;
    border-top: 5px solid black;
    box-shadow: 0 15px 15px 5px black;
}